.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
}

.balanceFilterContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 32px;
    text-align: center;
}